body{
    background: url("background.jpg");
    background-size: cover;
}
.bg{
    color:white;
    text-align: center;
    margin-top:200px;
    font-family: 'Courier New', Courier, monospace;
}
h1:hover{
    color:red;
}
.btn-primary{
    margin: 40px 0px 0px 620px;
    transition:  all 1s;
}
.btn-primary:hover{
   transform:scale(1.1);
}